@import "../base.scss";
.frame {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__img {
    @extend %grayfilter;
    cursor: ne-resize;
  }
}

@media (max-width: $mobile) {
  .frame {
    display: none;
  }
}
