.products {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    max-width: rem(320);
    padding: rem(45) rem(20);
    text-align: center;
  }
  &__title {
    font-size: rem(24);
    line-height: 1.46;
    text-transform: uppercase;
    margin-top: rem(30);
    margin-bottom: rem(20);
  }
  &__subscription {
    line-height: 1.86;
    margin-bottom: rem(30);
  }
  &__learn-more {
    text-decoration: underline !important;
  }
}
