.alba {
  &__container {
  }
  &__text {
    padding: 0 rem(15);
  }

  &__img-box {
    max-width: rem(750);
  }

  @media (min-width: $tablet) {
    &__img-box {
      margin: 0 0 0 auto;
    }
  }
  @media (min-width: $pc) {
    &__img-box {
      margin: 0;
    }
    &__container {
      display: flex;
      justify-content: start;
    }
    &__img-box {
      max-width: rem(960);
    }
    &__text {
      padding: 0;
      width: rem(360);
      margin-left: rem(45);
    }
  }
}
