<section class="benefits">
  <div class="benefits__container">
    <ul class="benefits__list">
      <li class="benefits__item">
        <div class="benefits__item-box">
          <img
            data-src="@img/woodendot/benefits/IMAGE-1.png"
            alt="logo"
          />
          <span class="benefits__item-text"
            >Free Shipping</span
          >
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-box">
          <img
            data-src="@img/woodendot/benefits/IMAGE-2.png"
            alt="logo"
          />
          <span class="benefits__item-text"
            >Awarded Product Design</span
          >
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-box">
          <img
            data-src="@img/woodendot/benefits/IMAGE-3.png"
            alt="logo"
          />
          <span class="benefits__item-text"
            >Ecofriendly Approach</span
          >
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-box">
          <img
            data-src="@img/woodendot/benefits/IMAGE-4.png"
            alt="logo"
          />
          <span class="benefits__item-text"
            >Crafted in Spain</span
          >
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-box">
          <span class="benefits__item-text"
            >4.8 Star Reviews</span
          >
        </div>
      </li>
    </ul>
  </div>
</section>
