<section class="frame">
  <div class="frame__container section">
    <ul class="frame__list">
      <li class="frame__item">
        <img
          class="frame__img"
          data-src="@img/woodendot/frame/Frame-1-d.jpg"
          alt="frame"
        />
      </li>
      <li class="frame__item">
        <img
          class="frame__img"
          data-src="@img/woodendot//frame/Frame-2-d.jpg"
          alt="frame"
        />
      </li>
      <li class="frame__item">
        <img
          class="frame__img"
          data-src="@img/woodendot/frame/Frame-3-d.jpg"
          alt="frame"
        />
      </li>
      <li class="frame__item">
        <img
          class="frame__img"
          data-src="@img/woodendot/frame/Frame-4-d.jpg"
          alt="frame"
        />
      </li>
    </ul>
  </div>
</section>
