<section class="home-frame">
  <div class="home-frame__container">
    <div class="home-frame__head">
      <h2 class="home-frame__title">
        Our pieces inside your home
      </h2>
      <p class="home-frame__subtitle">
        Get inspired by our products in real-life. Tag us
        and be featured!
      </p>
    </div>
    <!-- Оболочка слайдера -->
    <div class="home-frame__slider swiper">
      <!-- Двигающееся часть слайдера -->
      <div class="home-frame__wrapper swiper-wrapper">
        <!-- Слайд -->
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-1-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-2-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-3-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-1-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-2-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-3-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-1-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-2-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-3-d.jpg"
            alt="home"
          />
        </div>
        <div class="home-frame__slide swiper-slide">
          <img
            data-src="@img/woodendot/home-frame/home-frame-1-d.jpg"
            alt="home"
          />
        </div>
      </div>
      <button
        type="button"
        class="swiper-button-prev"
      ></button>
      <button
        type="button"
        class="swiper-button-next"
      ></button>
    </div>
  </div>
</section>
