<section class="products">
  <div class="products__container">
    <ul class="products__list">
      <li class="products__item">
        <img
          data-src="@img/woodendot/products/product-1.png"
          alt="DESIGN"
        />
        <h2 class="products__title">DESIGN</h2>
        <p class="products__subscription">
          We create furniture pieces with personality,
          designed to transform your space.
        </p>
        <a class="products__learn-more" href="#"
          >Learn More</a
        >
      </li>
      <li class="products__item">
        <img
          data-src="@img/woodendot/products/product-2.png"
          alt="FOOTPRINT"
        />
        <h2 class="products__title">FOOTPRINT</h2>
        <p class="products__subscription">
          We are committed to look after what we love,
          nature.
        </p>
        <a class="products__learn-more" href="#"
          >Learn More</a
        >
      </li>
      <li class="products__item">
        <img
          data-src="@img/woodendot/products/product-3.png"
          alt="MADE"
        />
        <h2 class="products__title">MADE</h2>
        <p class="products__subscription">
          Our local design, and production in the village of
          Iscar, Spain.
        </p>
        <a class="products__learn-more" href="#"
          >Learn More</a
        >
      </li>
      <li class="products__item">
        <img
          data-src="@img/woodendot/products/product-4.png"
          alt="WOOD"
        />
        <h2 class="products__title">WOOD</h2>
        <p class="products__subscription">
          Our characteristic and main material, and its
          unique and timeless attributes.
        </p>
        <a class="products__learn-more" href="#"
          >Learn More</a
        >
      </li>
    </ul>
  </div>
</section>
