<section class="products">
  <div class="products__container">
    <ul class="products__list">
      <li class="products__item">
        <img
          data-src="@img/woodendot/products/product-1.png"
          alt="DESIGN"
        />
        <h2 class="products__title">DESIGN</h2>

        <div data-showmore="size" class="block">
          <div
            data-showmore-content="45"
            class="block__content products__subscription products__subscription-design"
          >
            We create furniture pieces with personality,
            designed to transform your space. Lorem ipsum
            dolor sit amet consectetur adipisicing elit.
            Aliquid nihil natus possimus deleniti temporibus
            exercitationem aspernatur molestias tempore
            recusandae quos, voluptatum at ipsum
            perferendis, reprehenderit blanditiis, unde ex
            iste facilis.
          </div>
          <button
            hidden
            data-showmore-button="1000"
            type="button"
            class="block__more"
          >
            <span class="products__learn-more"
              >Learn More</span
            ><span class="products__learn-more">Hide</span>
          </button>
        </div>
      </li>
      <li class="products__item">
        <img
          data-src="@img/woodendot/products/product-2.png"
          alt="FOOTPRINT"
        />
        <h2 class="products__title">FOOTPRINT</h2>

        <div data-showmore="size" class="block">
          <div
            data-showmore-content="45"
            class="block__content products__subscription products__subscription-footprint"
          >
            We are committed to look after what we love,
            nature. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aliquid nihil natus possimus
            deleniti temporibus exercitationem aspernatur
            molestias tempore recusandae quos, voluptatum at
            ipsum perferendis, reprehenderit blanditiis,
            unde ex iste facilis.
          </div>
          <button
            hidden
            data-showmore-button="1000"
            type="button"
            class="block__more"
          >
            <span class="products__learn-more"
              >Learn More</span
            ><span class="products__learn-more">Hide</span>
          </button>
        </div>
      </li>
      <li class="products__item">
        <img
          data-src="@img/woodendot/products/product-3.png"
          alt="MADE"
        />
        <h2 class="products__title">MADE</h2>

        <div data-showmore="size" class="block">
          <div
            data-showmore-content="45"
            class="block__content products__subscription products__subscription-made"
          >
            Our local design, and production in the village
            of Iscar, Spain. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Aliquid nihil
            natus possimus deleniti temporibus
            exercitationem aspernatur molestias tempore
            recusandae quos, voluptatum at ipsum
            perferendis, reprehenderit blanditiis, unde ex
            iste facilis.
          </div>
          <button
            hidden
            data-showmore-button="1000"
            type="button"
            class="block__more"
          >
            <span class="products__learn-more"
              >Learn More</span
            ><span class="products__learn-more">Hide</span>
          </button>
        </div>
      </li>
      <li class="products__item">
        <img
          data-src="@img/woodendot/products/product-4.png"
          alt="WOOD"
        />
        <h2 class="products__title">WOOD</h2>

        <div data-showmore="size" class="block">
          <div
            data-showmore-content="45"
            class="block__content products__subscription products__subscription-wood"
          >
            Our characteristic and main material, and its
            unique and timeless attributes. Lorem ipsum
            dolor sit amet consectetur adipisicing elit.
            Aliquid nihil natus possimus deleniti temporibus
            exercitationem aspernatur molestias tempore
            recusandae quos, voluptatum at ipsum
            perferendis, reprehenderit blanditiis, unde ex
            iste facilis.
          </div>
          <button
            hidden
            data-showmore-button="1000"
            type="button"
            class="block__more"
          >
            <span class="products__learn-more"
              >Learn More</span
            ><span class="products__learn-more">Hide</span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
