<section class="review">
  <div class="review__container section">
    <!-- Оболочка слайдера -->
    <div class="review__slider swiper">
      <!-- Двигающееся часть слайдера -->
      <div class="review__wrapper swiper-wrapper">
        <!-- Слайд -->
        <div class="review__slide swiper-slide">
          <p class="review__slide-tag">
            "The team from Woodendot has displayed utmost
            professionalism from order to deliver and
            customer support. We placed an order to the UK
            and would definitely recommend friends to order
            from Woodendot!"
          </p>
          <p class="review__slide-subtag">
            R. Aoun, United Kingdom
          </p>
        </div>
        <div class="review__slide swiper-slide">
          <p class="review__slide-tag">
            Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Earum, maxime.
          </p>
          <p class="review__slide-subtag">
            R. Aoun, United Kingdom
          </p>
        </div>
        <div class="review__slide swiper-slide">
          <p class="review__slide-tag">
            Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Laborum maiores eligendi,
            pariatur est minus doloribus?
          </p>
          <p class="review__slide-subtag">
            R. Aoun, United Kingdom
          </p>
        </div>
        <div class="review__slide swiper-slide">
          <p class="review__slide-tag">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eligendi ipsum dolorem
            accusamus pariatur sapiente error ex similique
            ratione obcaecati, saepe corrupti eius iure esse
            dignissimos?
          </p>
          <p class="review__slide-subtag">
            R. Aoun, United Kingdom
          </p>
        </div>
        <div class="review__slide swiper-slide">
          <p class="review__slide-tag">
            Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Ipsa, ipsam adipisci. Placeat,
            accusamus vero?
          </p>
          <p class="review__slide-subtag">
            R. Aoun, United Kingdom
          </p>
        </div>
        <div class="review__slide swiper-slide">
          <p class="review__slide-tag">
            Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Laborum maiores eligendi,
            pariatur est minus doloribus?
          </p>
          <p class="review__slide-subtag">
            R. Aoun, United Kingdom
          </p>
        </div>
      </div>
      <!-- пагинация -->
      <div class="review__swiper-pagination"></div>
    </div>
  </div>
</section>
