<section class="batea">
  <div class="batea__container section">
    <div class="batea__img-box">
      <img
        class="batea__img img"
        data-src="@img/woodendot/batea/batea-d.jpg"
        alt="batea"
      />
    </div>
    <div class="batea__text">
      <h2 class="batea__title title">Batea Collection</h2>
      <p class="batea__subtitle subtitle">
        Tables with storage & tray tables
      </p>
      <p class="batea__price price">From $272</p>
      <div data-showmore="size" class="section-showmore">
        <div
          data-showmore-content="95"
          class="section-showmore__content"
        >
          Composed of clean and rounded lines, the Batea
          Collection includes unique tables with extra
          functionality like a removable tray, and hidden
          storage. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Similique rem quasi
          exercitationem velit consequuntur, ea nisi nemo
          beatae excepturi omnis mollitia perferendis ab
          eius at facilis in. Dolorem, enim! Ullam.
        </div>
        <button
          hidden
          data-showmore-button="1500"
          type="button"
          class="section-showmore__more"
        >
          <span class="section-showmore__showmore"
            >Showmore</span
          ><span class="section-showmore__showmore"
            >Hide</span
          >
        </button>
      </div>
      <p class="batea__view view">
        + 3 sizes, + 6 color finishes
      </p>
      <a class="alada__shop shop" href="#">Shop now</a>
    </div>
  </div>
</section>
