<section class="cloe">
  <div class="cloe__container section">
    <div class="cloe__img-box">
      <img
        class="cloe__img img"
        data-src="@img/woodendot/cloe/cloe-d.jpg"
        alt="cloe"
      />
    </div>
    <div class="cloe__text">
      <h2 class="cloe__title title">Cloe</h2>
      <p class="cloe__subtitle subtitle">
        Modular Storage System
      </p>
      <p class="cloe__price price">From $1.176</p>
      <div data-showmore="size" class="section-showmore">
        <div
          data-showmore-content="95"
          class="section-showmore__content"
        >
          An expansive way to furnish your space exactly how
          you need it and like it. Transform it in exactly
          what you need like a bookshelf, tv stand or show
          rack, you pick. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quis, eligendi
          dolorum? Dolorem necessitatibus eveniet quasi
          velit earum sint totam dicta possimus, numquam
          blanditiis temporibus, aliquid ipsum quis! Omnis,
          cumque perferendis!
        </div>
        <button
          hidden
          data-showmore-button="1500"
          type="button"
          class="section-showmore__more"
        >
          <span class="section-showmore__showmore"
            >Showmore</span
          ><span class="section-showmore__showmore"
            >Hide</span
          >
        </button>
      </div>
      <p class="cloe__view view"></p>
      <a class="cloe__shop shop" href="#">Shop now</a>
    </div>
  </div>
</section>
