<section class="pelican">
  <div class="pelican__container section">
    <div class="pelican__img-box">
      <img
        class="pelican__img img"
        data-src="@img/woodendot/pelican/pelican-d.jpg"
        alt="pelican"
      />
    </div>
    <div class="pelican__text">
      <h2 class="pelican__title title">Pelican</h2>
      <p class="pelican__subtitle subtitle">
        Shelves with hidden hooks
      </p>
      <p class="pelican__price price">From $89</p>
      <div data-showmore="size" class="section-showmore">
        <div
          data-showmore-content="95"
          class="section-showmore__content"
        >
          Store or exhibit your favorite objects in the
          entrance hall, modern hallways, living rooms and
          bedrooms with a decorative and minimalist touch.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Accusamus molestias, harum aut laboriosam
          sit iure in perspiciatis, vel impedit perferendis
          ex vero. Qui voluptatum pariatur ad? Tempore, in
          sunt! Asperiores officiis similique modi rerum,
          blanditiis totam neque cumque odio laudantium
          magni delectus, qui illum architecto consequatur
          quibusdam sunt inventore. Laudantium esse cum
          autem dolorem recusandae tempora, labore officia
          vero delectus porro quos quia possimus ea deserunt
          officiis atque consequuntur amet ipsum! Commodi
          voluptatibus accusamus asperiores officia
          blanditiis. Ab, neque delectus?
        </div>
        <button
          hidden
          data-showmore-button="1500"
          type="button"
          class="section-showmore__more"
        >
          <span class="section-showmore__showmore"
            >Showmore</span
          ><span class="section-showmore__showmore"
            >Hide</span
          >
        </button>
      </div>
      <p class="pelican__view view">
        + 3 sizes, + 5 color finishes
      </p>
      <a class="cloe__shop shop" href="#">Shop now</a>
    </div>
  </div>
</section>
