<section class="alada">
  <div class="alada__container section">
    <div class="alada__img-box">
      <img
        class="alada__img img"
        data-src="@img/woodendot/alada/alada.jpg"
        alt="alada"
      />
    </div>
    <div class="alada__text">
      <h3 class="alada__slogan">New Favorite!</h3>
      <h2 class="alada__title title">Alada</h2>
      <p class="alada__subtitle subtitle">
        Floating folding desk
      </p>
      <p class="alada__price price">From $534</p>

      <div data-showmore="size" class="section-showmore">
        <div
          data-showmore-content="65"
          class="section-showmore__content"
        >
          A timeless and discreet folding desk that
          seamlessly transforms into a decorative shelf in
          seconds. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Alias qui id vel quibusdam, est
          quos dolorem ullam dolor aliquid voluptate impedit
          ad quas esse, illum in. Libero officia earum neque
          sit eos ab quaerat illo quidem magni inventore
          labore accusantium at minima consequatur corrupti
          rerum laborum aliquid, consequuntur doloremque
          placeat, corporis tempora. Quod, optio laborum?
        </div>
        <button
          hidden
          data-showmore-button="1500"
          type="button"
          class="section-showmore__more"
        >
          <span class="section-showmore__showmore"
            >Showmore</span
          ><span class="section-showmore__showmore"
            >Hide</span
          >
        </button>
      </div>
      <p class="alada__view view">+ 4 color finishes</p>
      <a class="alada__shop shop" href="#">Shop now</a>
    </div>
  </div>
</section>
