<section class="alba">
  <div class="alba__container section">
    <div class="alba__img-box">
      <img
        class="alba__img img"
        data-src="@img/woodendot/alba/alba-d.jpg"
        alt="alba"
      />
    </div>
    <div class="alba__text">
      <h2 class="alba__title title">Alba Collection</h2>
      <p class="alba__subtitle subtitle">
        Modular bedside table & shelf
      </p>
      <p class="alba__price price">From $272</p>
      <div data-showmore="size" class="section-showmore">
        <div
          data-showmore-content="95"
          class="section-showmore__content"
        >
          A versatile and modular piece with a sculptural
          touch that can be used as a wall shelf or as a
          bedside table with concealed storage. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Ea
          assumenda ipsum quia officiis ut, dolorum
          voluptatum impedit. Error ipsa omnis asperiores
          nisi ea sit aspernatur fugit perferendis aperiam.
          Maxime veniam voluptatum vitae velit ea delectus
          doloribus adipisci amet accusamus, minus possimus
          consequatur similique aliquam in ipsam eveniet est
          dolore? Voluptate fuga deleniti consequuntur!
          Praesentium ex corporis dolorem voluptatem ipsum
          rem perspiciatis impedit repellendus. Dolore
          accusamus possimus illo quidem, qui voluptates!
          Esse facilis reprehenderit dolorum veritatis
          labore cumque, similique alias vitae dicta,
          voluptatum suscipit cupiditate, sint enim
          reiciendis debitis voluptatem molestiae blanditiis
          maxime. Architecto enim sequi neque pariatur
          laboriosam deleniti iure.
        </div>
        <button
          hidden
          data-showmore-button="1500"
          type="button"
          class="section-showmore__more"
        >
          <span class="section-showmore__showmore"
            >Showmore</span
          ><span class="section-showmore__showmore"
            >Hide</span
          >
        </button>
      </div>
      <p class="alba__view view">
        + 6 color finishes, infinite combinations
      </p>
      <a class="alada__shop shop" href="#">Shop now</a>

      <div class="alba__awards">
        <img
          data-src="@img/woodendot/alba/IMAGE.png"
          alt="alba awards"
        />
      </div>
    </div>
  </div>
</section>
