//====================================================================================================
@media (max-width: $mobile) {
  .header {
    &__box {
      display: none;
    }
    &__menu {
      min-height: rem(50);
      background-color: $colorBlack;
      position: relative;
    }
  }
  .menu {
    &__icon {
      position: absolute !important;
      right: rem(15);
      top: rem(15);
    }
    &__body {
      display: none;
    }
    &__list {
      padding: rem(15) 0;
      text-align: center;
    }
    &__item {
      font-size: rem(17);
      line-height: 1.35;
      color: #fff;
      transition: color $transition;

      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }

    &__item:hover,
    &__item:focus {
      color: $colorWood;
    }
    .menu-open {
      display: block;
    }
  }
  .icon-menu {
    display: none;
    @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      span,
      &::before,
      &::after {
        content: "";
        transition: all 0.3s ease 0s;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
      }
      &::before {
        top: 0px;
      }
      &::after {
        bottom: 0px;
      }
      span {
        top: calc(50% - 1px);
      }
      .menu-open & {
        span {
          transform: scale(0);
        }
        &::before {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &::after {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

@media (min-width: $mobile) {
  .header {
    &__menu {
      display: none;
    }
    &__box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: rem(20) 0 rem(30) 0;
    }
  }
  .nav {
    &__list {
      display: flex;
    }
    &__item {
      transition: color $transition;
      &:not(:last-child) {
        margin-right: rem(30);
      }
    }

    &__item:hover,
    &__item:focus {
      color: $colorWood;
    }

    &__link {
      font-size: rem(17);
      line-height: 1.35;
    }
  }
  .logo {
    display: flex;
  }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
